<html ng-app="todoApp">

<head>
    <meta charset="utf8" />
    <title>Todo List</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <!--
    <style type="text/css">
    </style>
-->
</head>

<body ng-controller="TodoController as todoCtrl">
    <h3>Todo List <span class="label label-default">App</span></h3>

    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="New Todo ..." ng-model="todoCtrl.currentSummary">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="todoCtrl.addTodo()">Add!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <textarea class="form-control" rows="2" ng-model="todoCtrl.currentDescription"></textarea>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-6">
            <div ng-repeat="todo in todoCtrl.todos">
                <!--            <label>-->
                <div class="form-group">
                    <!-- <input type="radio" name="todo"value="{{todo.id}}">-->
                    <button type="button" ng-click="todoCtrl.setCurrentTodo($index)" class="btn btn-default btn-sm btn-block">{{todo.summary}}</button>
                    <!--            </label>-->
                </div>
            </div>
        </div>
    </div>
    <!--
            <section class="tab">
                <ul >
                    <li ng-repeat="todo in todoCtrl.todos" role="presentation">
                         <input type="radio">
                        <a href ng-click="todoCtrl.setCurrentTodo($index)">{{todo.summary}}</a>
                    </li>
                </ul>
            </section>
            -->


    <button type="button" class="btn btn-primary" ng-show="!todoCtrl.product.done">edit</button>
    <button type="button" class="btn btn-primary" ng-show="!todoCtrl.product.done" ng-click="todoCtrl.deleteTodo()">delete</button>

    <div>
        <h4>details</h4> {{todoCtrl.currentTodo.description}}
        <blockquote></blockquote>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.js"></script>
    <script src="app.js"></script>

    <body>

</html>